DEPLOY_TOKEN=seu_token_secreto_aqui
REPO_PATH=/caminho/do/seu/projeto
COMPOSE_FILE=/caminho/do/seu/projeto/docker-compose.yml
GIT_BRANCH=main
PORT=4000
# Prisma Migration (opcional)
# PRISMA_SCHEMA_PATH=/caminho/do/schema.prisma
# PRISMA_SERVICE=prisma-migrate
